{% set vlan_result = {} %}
{% for host in groups['l2device'] -%}
{% for vlan in hostvars[host]._vlan_ids if not vlan == 'all' -%}  
{% if host in groups['junos'] and vlan in hostvars[host]._vlans %}
{% set vlan = hostvars[host]._vlans[vlan] | int %}
{%endif %}
{% if vlan not in vlan_result %}
{% set test =  vlan_result.update({vlan: 1}) %}
{% else %}
{% set test = vlan_result.update({vlan: vlan_result[vlan] + 1 }) %}
{% endif %}
{%- endfor %}
{%- endfor %}
{{ vlan_result }}