{% set vlan_result = {} %}
{% for host in groups['l2ios'] -%}
{% for vlan in hostvars[host]._voice_vlan_ids -%}    
{% if vlan not in vlan_result %}
{% set test =  vlan_result.update({vlan: 1}) %}
{% else %}
{% set test = vlan_result.update({vlan: vlan_result[vlan] + 1 }) %}
{% endif %}
{%- endfor %}
{%- endfor %}
{{ vlan_result }}